.navigation-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.control-button {
    padding: 10px 25px;
    border: none;
    /*Чтобы не было синей рамки при нажатии на кнопку*/
    outline: none;
    color: #ffffff;
    background-color: #fb990b;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
}

.control-button:hover {
    background-color: #44a543;
    color: #f0f0f0;
    transition-property: background-color, color;
    transition-duration: .5s;
}

.button-previous {
    margin-right: 30px;
}

@media (max-width: 550px) {
    .navigation-buttons {
        flex-flow: column wrap;
        align-items: center;
        min-height: 100px;
        justify-content: space-around;
    }
    .button-previous {
        margin-right: 0;
    }
    .control-button {
        width: 240px;
    }
}