.question {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 30px;
    background-color: #1d9a3d;
    color: white;
}

.question-text {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}

.question-image {
    max-width: 100%;
}