.progress-bar {
    /*calc(70% + 60px) - если нужно по ширине нижних блоков; 60px - паддинги справа/слева у блоков ниже*/
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

progress {
    background-color: #e4e4e4;
    border: 0;
    width: 100%;
    height: 30px;
}

progress::-webkit-progress-bar {
    background-color: #e4e4e4;
    border: 0;
    width: 100%;
    height: 30px;
}

progress::-webkit-progress-value {
    background-color: #f7e676;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .7s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}