.answer-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.answer-options-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 25px;
}

.answer_option {
    width: 17%;
    cursor: pointer;
    box-sizing: content-box;
    background-color: #246723;
    border: solid 2px #487548;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.answer_option:hover {
    background-color: #1a5418;
    border: #3e613e;
    color: #e8e8e8;
    transition-property: background-color, border, color;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.36,.29,.6,1.06);
}

.answer_option_confirmed {
    width: 17%;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    box-sizing: content-box;
    background-color: #fb990b;
    border: #3e613e;
    transition-property: background-color, border;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.36,.29,.6,1.06);
}

.answer_option_confirmed:hover {
    border: #3e613e;
    transition-property: border;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.36,.29,.6,1.06);
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .7s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/*Добавляем вертикальный отступ между кнопками блока при мобильном отображении*/
@media (max-width: 600px) {
    .answer-options-buttons {
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        min-height: 100px;
    }
}