.answers {
    width: 70%;
    overflow: hidden;
    background-color: #025201;
    margin: 0 auto;
    color: white;
    text-align: left;
    padding: 22px 30px;
    word-wrap: break-word;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .7s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}